<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("link.home"), root_path %></li>
        <li><%= link_to t("link.help"), help_path %></li>
        <li><%= link_to t("link.about"), about_path %></li>
        <li><%= link_to t("link.contact"), contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
